body {
  padding-left: 10px;
  padding-top: 10px;
  margin: 0px;
  background-color: #321600;
}

.playerSection {
  margin: 0px;
  padding: 0px;
}

.zone {
  background-image: url("../../resources/feltbackground.png");
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  position: relative;
}

.card {
  background-image: url("../../resources/card.jpeg");
  height: 125px;
  width: 91px;
  border-radius: 5px;
  background-size: cover;
  box-sizing: border-box;
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover {
  box-sizing: content-box;
  border: 1px solid rgb(247, 250, 196);
}

.hand {
  height: 150px;
  width: calc(79% - 40px);
  display: inline-block;
}

p {
  position: absolute;
  left: -100%;
  width: 300%;
  text-align: center;
  margin-top: 2px;
  color: white;
}

#battlefield {
  width: calc(100% - 10px);
  margin-top: 0px;
}

.singleCardZone {
  height: 150px;
  width: 7%;
  display: inline-block;
}

.layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 10px;
  margin-left: 10px;
}
